section.toolkit {
 border: 1px solid;
  padding: 20px;
  background: #eee;
  margin-left: 20%;
  margin-right: 20%;
  min-width: 700px;
}

section.toolkit h1 {
 text-align: center; 
}

body {
     background: #ccc; 
}

div.sresults {
  margin: 20px;
}

div#simple {
  margin: 20px;
}