---
layout: default
---
{% if page.image %}<div class="post-image"><img src="{{ page.image }}" /></div>{% endif %}
{% if page.image_credit %}<div class="post-image-credit">{{ page.image_credit }}</div>{% endif %}

<h1>{{page.title}}</h1>
<div id="date">Posted {{ page.date | date_to_string }} {% include tags.markdown %}and has <a href="{{ page.url }}#disqus_thread">Comments</a></div>

{{ content }}

<div id="disqus_thread"></div>
<script>
  //var disqus_developer = 1;
  var disqus_config = function () {
    this.page.url = "http://findingscience.com{{ page.url }}";
    this.page.identifier = "http://findingscience.com{{ page.url }}";
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://findingscience.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f9ef9c6428ae205"></script>
<!-- AddThis Button END -->
